<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Blogs</h1>
                            </div>
                            <div class="dash-nav">
                                <a [routerLink]="['/admin-createblog/']" class="btn btn-success">Add Post</a>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th scope="col">ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                            <tr *ngFor="let d of data">
                                <td>{{d.id}}</td>
                                <td>{{d.title}}</td>
                                <td>{{d.description}}</td>
                                <td>
                                    <a class="btn btn-info" [routerLink]="['/student-view/',d.id]">View</a>
                                    <a class="btn btn-success" [routerLink]="['/studentedit/',d.id]">Edit</a>
                                    <a class="btn btn-danger">Delete</a>
                                    
                                </td>
                            </tr>
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>