<section class="dashboard-wrap mtb-40">
  <div class="container">
      <div class="body-content">
          <div class="row">
              <div class="col-md-3">
                  
              </div>
              <div class="col-md-9">
                  <div class="dash-right">
                      <div class="dash-header">
                          <div class="dash-title">
                              <h1>Contacts</h1>
                          </div>
                          <div class="dash-nav">
                              <a [routerLink]="['/addcontact/']" class="btn btn-success">Add Contact</a>
                          </div>
                      </div>
                      <table class="table table-bordered table-striped">
                          <tr>
                              <th scope="col">ID</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>phone</th>
                              <th>Action</th>
                          </tr>
                          <tr *ngFor="let d of data">
                              <td>{{d.id}}</td>
                              <td>{{d.name}}</td>
                              <td>{{d.email}}</td>
                              <td>{{d.phone}}</td>
                              <td>
                                  <a class="btn btn-info" [routerLink]="['/student-view/',d.id]">View</a>
                                  <a class="btn btn-success" [routerLink]="['/studentedit/',d.id]">Edit</a>
                                  <a class="btn btn-danger">Delete</a>
                                  
                              </td>
                          </tr>
                      </table>
                  </div>   
              </div>
          </div>
      </div>
  </div>
</section>